body {
    font-family: 'Arimo', sans-serif;    
}

.eye-icon {
    font-size: 32px;
}

.blink {
    background: red;
    color:white;
}

.controls {
    padding: 32px;
}

.bar {
    background: black;
    color: white;
    text-align: center;
    padding: 32px 16px;
    font-size: 30px;
}
